body {
  background-color:orange;
}
.container {
  margin-top: 3%;
  background-color:white;
}

.highlightrow {
  color: white;
  background-color: blue;
}

.row {
  border: solid 1px black;
}

.col-md-2 {
  padding: 10px;
  border-left: solid 1px black;
}

.col-md-1 {
  padding: 10px;
  border-left: solid 1px black;
}
